html {
 font-family:Arial, Helvetica, sans-serif
  
  }

  body{
    background: url(../img/marina.png) no-repeat;
    background-size: cover;
    height: 200px;
    
  }
  .box{
    background-color: rgba(218, 230, 240, 0.745);
    Position: relative;
    border: solid orange;
    border-width: 2mm;
    border-radius: 2mm;
    top: 12mm;
    left: 20mm;
    width: 200px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }

  .boxb{
    background-color: rgba(218, 230, 240, 0.745);
    Position: relative;
    border: solid orange;
    border-width: 2mm;
    border-radius: 2mm;
    top: 12mm;
    right: -150mm;
    width: 300px;
    height: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }